<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Page</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <script>
        window.onload = function() {
            var username = "{{ username }}"; // Ensure username is properly defined
            switch (username) {
                case 'Thisara!':
                    window.location.href = 'Doctor.html';
                    break;
                case 'Akila':
                    window.location.href = 'Pharmacy.html';
                    break;
                default:
                    alert('Invalid username!');
                    break;
            }
        }
    </script>
</body>
</html>
