<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <link rel="stylesheet" href="../CSS/firstpage.css">
    </head>
    <body>
        <div class="hero">
            <nav>
                <img src="../image/logo2.webp" class="logo">

                <ul id="hj">
                    <li a href="#"></a></li>
                    <li a href="#"></a></li>
                    <li a href="#"></a></li>
                    <li a href="#"></a></li>
                    <li><a href=" http://127.0.0.1:5000" style="font-size: 30px; color: #f5f0f0; font-family: 'Times New Roman', Times, serif;">LOGIN</a></li>
                </ul>
            </nav>

            <h1 class="title">MediBot System..</h1>
        </div>

    </body>
</html>